body {
    background: #d7d7d7;
    -webkit-print-color-adjust: exact;

 
}
li,
ul {
  list-style: none;
  padding-left: 0;
}

input,
textarea {
  border: none;
}


.main-div
{
  
  max-width: 1000px;
    width: 100%;
    margin: 20px auto;
    background: #fff;
    padding: 15px 40px;
    border-left: 5px solid rgba(51, 51, 51, 0.12);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.top-band-div {
  clear: both;
  position: relative;
}

.btn-main {
  background-color: #d6f669;
  border-radius: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 2px;
  font-size: 17px;
  color: #36465e;
}

.btn-main:focus,
.btn-main:hover {
  background-color: #bad952;
}

.btn-plain {
  width: 90%;
  background-color: transparent;
  border: 1px solid #d6f669!important;
  color: #d6f669!important;
  display: block;
}

.link-print {
  color: #83c0f5;
  cursor: pointer;
}

.column td {
  padding: 8px 8px;
  vertical-align: top;
}

.hd td {
  border-bottom: 1px solid #ddd;
}

.hd td,
.hd td input {
  background-color: #d0d0d0 !important;
}

.hd td input {
  text-align: right;
  border: none;
  color: #000;
}

.hd td input:not([READONLY]):focus {
  background: #fdf4db;
  border: 1px dotted #444;
  color: #444;
}

.bill td {
  padding: 2px;
}

.amount {
  text-align: right;
  width: 100px;
}

.sav-amo td {
  padding: 10px;
  border-top: 2px solid #ddd;
}

.tot,
.tot input {
  background: #e3e3e3;
  border: 1px solid #e3e3e3;
}

.tot ts {
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}

.tot input:focus {
  border: 1px dotted #444;
}

input,
textarea {
  border: 1px dotted #fff;
  margin-bottom: 2px;
}

.tot td {
  padding: 10px;
  border-top: 1px solid #c7c7c7;
  text-align: right;
}

td.bdr-non {
  border: none;
}

.note {
  width: 100%;
  min-height: 22px;
  margin-top: 2px;
}

.terms {
  margin-top: 20px;
  text-align: left;
}

.bld,
.terms {
  font-weight: 700;
  font-size: 14px;
}

.bld {
  margin: 2px 0;
}

.adr {
  font-size: 14px;
  width: 98%;
}

.adr.error {
  border: 1px solid #a94442;
}

.adr-lft {
  width: 55%;
  text-align: left;
}

.adr-rgt {
  text-align: right;
  width: 42%;
}

.c-name {
  font-size: 45px;
  font-weight: 300;
  width: 100%;
  color: #666;
  margin-left: 20px;
  text-align: right;
  margin: 0 auto;
  color: #38342c;
  margin-right: 27px;
}

.bdr-non {
  border: none;
}

input:focus,
textarea:focus {
  background: #fdf4db;
  border: 1px dotted #444;
}

input[READONLY]:focus {
  background: none;
  border: 1px dotted #fff;
}

.bill-to {
  color: #000;
  margin-bottom: 10px;
}

.row-item td {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 10px;
}

.f20 {
  font-size: 20px;
}

.vtop {
  vertical-align: top;
}

.lineItemDIV {
  clear: both;
  margin-top: 30px;
  float: left;
}

.add,
.del,
.logo-tp,
[class^=mobile-] {
  background: url("https://www.zoho.com/invoice/pdf/icon-blk.png") no-repeat;
}

.add {
  background-position: -404px -253px;
  color: blue;
  padding-left: 23px;
  width: 111px;
  font-size: 12px;
  padding-top: 2px;
}

.add,
.del {
  height: 21px;
  margin-top: 2px;
}

.del {
  background-position: -404px -214px;
  width: 20px;
}

[class^=mobile-] {
  display: inline-block;
  width: 140px;
  height: 38px;
  margin: 5px 44px;
}

.mobile-iphone {
  background-position: -664px -7px;
}

.mobile-android {
  background-position: -664px -55px;
}

.mobile-windows {
  background-position: -664px -100px;
}

.footer {
  padding: 50px 0 20px;
}

.copy {
  color: #fff;
  font-size: 11px;
}

.currencycodetxt {
  width: 45px;
  text-align: right;
  font-size: 12px;
  padding-right: 4px;
}

.top-band-div h1 {
  margin-top: 14px;
}

.stat-nor {
  background-color: #273344;
  min-height: 84px;
}

.total-label {
  width: 150px;
}

.top-tab td {
  vertical-align: top;
  padding-top: 20px;
}

.body-div {
  margin-top: 25px;
}

.powered-by-link {
  text-decoration: none;
}

.powered-by-text {
  margin-top: 4px;
  font-size: 13px;
  color: #11b4d7;
}

.powered-by-logo {
  height: 23px;
  margin-left: 9px;
  width: 127px;
}

.logo-tp {
  background-position: -6px -10px;
  height: 36px;
  width: 167px;
}

.rhs-info {
  margin-bottom: 15px;
  color: #e1e2e5;
  font-weight: 100;
  font-size: 14px;
}

.rhs-strikethrough-info {
  text-decoration: line-through;
  color: #c6e468;
}

.social-fb,
.social-gplus,
.social-twitter {
  background: url("/invoice/images/inv-generator-sprite.png") no-repeat;
  width: 35px;
  height: 35px;
  display: inline-block;
}

.social-fb {
  background-position: -8px -7px;
}

.social-twitter {
  background-position: -50px -7px;
}

.social-gplus {
  background-position: -138px -7px;
}

.actions-block {
  background-color: #3b506a;
  padding: 20px;
  margin-top: 25px;
  display: inline-block;
  width: 70%;
}

.actions-block h3 {
  color: #c7c4d4;
  font-weight: 300;
}

.actions-block .select-action-txt {
  margin-bottom: 20px;
  color: #c7c4d4;
  font-weight: 100;
  font-size: 13px;
}

.mbl-app-block {
  border: 2px solid #3b506a;
  width: 70%;
  padding: 20px 15px;
}

.mbl-app-block h4 {
  display: inline;
  font-weight: lighter;
  color: #bad952;
}

.mbl-app-block h4 span {
  color: #c7c4d4;
}

.mbl-actions-block {
  display: none;
}

.mbl-actions-block .btn {
  margin-right: 10px;
}

.highlight-content {
  color: #d6f669;
}

.contact-us {
  margin: 20px 10px;
  color: #e1e2e5;
}

.contact-us a {
  text-decoration: underline;
  color: #e1e2e5;
}

.cursor-disabled {
  cursor: not-allowed;
}

.select-currency {
  width: 70px;
  height: 23px;
  -webkit-appearance: menulist-button;
}

.title {
  margin-top: -3px;
  color: #cfcbda;
  font-weight: 300;
  display: inline;
  font-size: 24px;
}

.w100 {
  width: 100%;
}

.signup-bg {
  position: absolute;
  height: 100%;
  right: 0;
  padding: 40px 55px;
  border-left: 1px solid #a9cdf0;
  background: #e3eaf0;
  border-radius: 0 6px 6px 0;
}

.signup-benefits {
  padding-left: 10px;
  font-size: 13px;
}

.signup-benefits div {
  margin-bottom: 10px;
}

@media screen and (max-width:1200px) {
  .main-div {
    width: 100%;
  }

  .rgt-main-div {
    display: none;
  }

  .lft-main-div,
  .top-band-div {
    width: 100%;
  }

  .mbl-actions-block {
    display: inline-block;
    width: 100%;
    padding: 20px 15px;
    margin: 0 auto;
  }

  .signup-bg {
    height: auto;
  }
}

.ZI-form input:focus {
  border: 1px solid #ccc;
}

.field-msg .error {
  color: #a94442;
  font-size: 12px;
}

.ZI-load {
  background: url("../images/bg.png") repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 23;
}

.ZI-loading {
  background: url("../images/loading.gif") no-repeat;
  background-position: 16px 17px;
  height: 37px;
  width: 230px;
  clear: both;
  margin: 10px auto;
}

.ZI-popup {
  top: 33%;
  margin-left: 33%;
  width: 450px;
  background: #fff;
  z-index: 222;
  position: fixed;
  padding: 30px;
}

.ZI-popup h3 {
  color: #555454;
  font-size: 24px;
  font-weight: lighter;
}

.ZI-con-desc {
  color: #666;
  clear: both;
  margin: 10px 0 30px;
  line-height: 24px;
  float: left;
}

.faq {
  color: #fff;
}

.faq h2 {
  padding: 15px 75px 15px 15px;
  border-bottom: 1px solid #ddd;
  font-size: 24px;
}

.faq-container a:hover {
  color: #428bca;
}

.faq-container blockquote {
  display: none;
  margin: 0;
  padding: 0 20px 15px;
  font-weight: 300;
  background-color: #41556d;
  border-left: none;
}

.faq-container h5.active+blockquote {
  display: block;
}

.faq-container h5 {
  position: relative;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  padding: 15px;
  padding-right: 75px;
}

.faq-container h5:hover {
  background-color: #41556d;
}

.faq-container h5.active {
  background-color: #41556d;
  padding-bottom: 25px;
}

.faq-container h5:after {
  content: "";
  clear: both;
}

.faq-container h5.active:after,
.faq-container h5:hover:after {
  background-image: url("/invoice/images/arrow-sprite-1x.png");
  background-repeat: no-repeat;
  background-size: 104px 40px;
  position: absolute;
  top: 24px;
  right: 35px;
}

.faq-container h5:hover:after {
  background-position: -26px -15px;
  width: 14px;
  height: 9px;
}

.faq-container h5.active:after {
  background-position: -65px -17px;
  width: 12px;
  height: 8px;
}

.faq-container p {
  font-size: 14px;
  line-height: 26px;
}

@media print {
  .adr {
    margin: 4px 0;
    padding:0;
    border:none;
  }
  .currencycodetxt {
    border:none !important;
  }
 .c-name {
    margin: 0;
    text-align: right;
    position: absolute;
    right: 38px;
}
  .invoice-container {
    border:none;
    position: relative;
  }
  .spacethis {
    padding: 20px 0;
}


.invoice-header {
    margin:0;
     padding: 0; 
    border:none;
        margin-left: -15px;
}
.form-group {
  margin-bottom: 0;
}
.bill input{
  text-align: right;
}
.tot, .tot input {
    background: #dddddd !important;
}
.logo-footer img {
    
}
.invoice-footer {
  border-bottom:none;
}
.hidden-print {
  display: none !important;
}
input:focus, textarea:focus {
  border:none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:2dppx),only screen and (min-resolution:192dpi) {
  .faq-container h5.active:after,
  .faq-container h5:hover:after {
    background-image: url("/invoice/images/arrow-sprite-2x.png");
  }
}
