.chat-w {
	   background-color: #fff;
	    height: 446px;
	    width: 100%;
	  position: relative;
	    overflow: hidden;
}

	
		#chat-list{
		  margin: 0;padding: 0;
		}
		#chat-list li{
		  list-style-type: none;
		  /*display: none;*/
		  clear: both;
		  overflow: hidden;
		  position: relative;
		  padding: 4px 10px;
		  
		  
		}

		.bubble, .bubble2 {
		    display: inline-block;
		    text-align: left;
		    max-width: 100%;
		    background: #f3fdff;
		    padding: 10px;
		    border-radius: 10px;
		    background: #f5f5f5;
		    min-width: 50px;
		    border-radius: 20px;
		    white-space: pre;
		    white-space: pre-wrap;
		    word-wrap: break-word;
		    border-radius: 6px;
		    position: relative;
		    color: #404040;
		    font-size: 15px;
		     width: 70%;
		     font-weight: 	400;

		}


		  .bubble2 {
		    background: #648CFF;
		     float: right;
		    color: #fff;
		   
		}

		
		
		.scroll{
		  width: 210px;
		  overflow: hidden;
		  height: 80px;
		  display: inline-block;
		  position: relative;
		}
		.car{
		  width: 700px;
		  display: inline-block;
		 position: absolute;
		  left: 0;
		  top: 0;
		}
		.car span{
		  padding: 20px;
		  border: 1px solid #000;
		  text-align: center;
		  display: inline-block;
		  float: left;
		  width: 160px;
		  margin: 0 10px;
		}

		.chatHeader {
			background: #648CFF;
		  width: 100%;
		    position: absolute;
		    height: 52px;
		    color: #fff;
		    font-weight: 300;
		    z-index: 100;
		    /*box-shadow: -1px 4px 4px -2px rgba(145,145,145,0.61);*/
    }
		

		.static-chat .uavatar-img{
			width: 35px;
			height: 35px;
			border-radius: 50%;
			object-fit: cover;
			float: left;
			margin-right: 10px;
		}

		.static-chat .uavatar-text {
			float: left;
		}

		.static-chat .uavatar-text h4{
			margin: 0;
			font-weight: 400;
			font-size: 17px;
		}

		.static-chat .uavatar-text p {
			margin: 0;


		}
		.static-chat {
			margin-top: 8px;
			margin-left: 35px;


		}
		.bi {
			display: block;
		    color: #cacaca;
		    margin-top: 5px;
		    font-weight: 300;
		    font-style: normal;
		    font-size: 13px;
		}
		.bi.right {
			float: right;
			margin-top: 70px;
		    float: right;
		    margin-right: -206px;
		
		}
		.chatFooter {
			width: 100%;
			height: 40px;
			bottom: 0;
			position: absolute;
			border-top: 1px solid #ddd;
			background: #fff;
			
		}
		.mobile {
			width: 255px;
			height: 100%;
			position: relative;
			margin: 0 auto;
		}
		.chatFooter .footer-icons{
			list-style: none;
			padding: 0;
			margin-top: 10px;
			    padding: 0 5px;
		}
		.chatFooter .footer-icons li img{
			width: 22px;
		}
		.chatFooter .footer-icons li{
			float: right;
			margin-left: 6px;
			margin-right: 6px;
		}
		.chatFooter .typehere {
			    float: left;
		    color: #8e8e8e;
		    font-weight: 300;
		    font-size: 14px;
		}

