
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
body {
    font-family: Lato;
}
/*main-site-color-define===========================*/

.main-front-banner,.base-icons, .web-circle, .chatHeader, .bubble2, .half-blue::before, .btn.btn-blue {

    background: linear-gradient(52deg, #7d265e , #fe246c  ); 
    /*background: linear-gradient(52deg, #34a89b , #5471fd  ); */
    background: linear-gradient(45deg,  #8e24aa ,#540fdc  ); 

}

.theme-text-color {

 background: #780206 ;  /* fallback for old browsers */
   background: -webkit-linear-gradient(52deg, rgb(106, 27, 154), rgb(129, 63, 128));
  background: linear-gradient(52deg, rgb(106, 27, 154), rgb(129, 63, 128));
    color: #4c5577;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*main-site-color-define==END=========================*/

.chatHeader, .bubble2 {
  
}

h3.theme-text-color {
    font-weight: bold;
    font-size: 30px;
}

.base-icons {
    padding: 15px;
    height: 90px;
    width: 90px;
    border-radius: 100%;
}
.cimg {
display: block;
    margin: 30px auto;
    width: 100%;
    margin-top: 0px;
}

.por-box {
	position: relative;
    top: 50px;
    height: 370px;
}
.loopimg {
	background: url(../img/laptop.png) 0% 0% repeat;
    height: 39%;
    width: 21%;
    left: 41.5%;
    top: 47px;
    position: ABSOLUTE;
    -webkit-animation: MOVE-BG 10s linear infinite;
    background-size: 100%;
}
.main-front-banner {
    position: relative;
}

.mt100 {
    margin-top: 100px;
}
@-webkit-keyframes MOVE-BG {
    from {
        background-position: 0% 0%;
    }

    to { 
        background-position: 0% 200%;
    }
}

.navbar-transprent {
    padding-top: 15px;
}

.main-front-banner {
    color: #fff;
}
.main-front-banner .navbar-brand {
    color: #fff;
    font-size: 22px;
}

.main-front-banner .navbar-transprent .navbar-nav > li > a{
    color: #fff;
    font-size: 17px;
    background: none;
    font-weight: 700;
}
.main-front-banner .navbar-transprent .navbar-nav > li > a:hover {
    background: none;
}
.display-1 {
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 1.1;
}
.fw300 {
    font-weight: 300;
}
.btnbox {
    /*margin: 50px 0;*/
    margin-bottom: 0;
    position: relative;
    z-index: 10;
}
.btn {
    padding: 10px 40px;
    font-size: 16px;
    color: #565656;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
.btnbox .btn-round {
    background: #fff;
    border-radius: 32px;
   
}

.forspace {
    margin: 125px auto;
}
.spacethis {
    margin-top: 70px;
    margin-bottom: 70px;
}
.lead2 {
    font-size: 18px;
    margin-bottom: 20px;
 line-height: 1.4;
 font-weight:   400;
}

.text-shadow {
    text-shadow: rgba(0, 0, 0, 0.298039) 0px 3px 0px;
}

.imgshadow {
    -webkit-filter: drop-shadow(3px 4px 7px #ddd);
    filter: drop-shadow(3px 4px 7px #ddd);
}
.cimg {
    /* -webkit-filter: drop-shadow(3px 4px 7px #ddd);
    filter: drop-shadow(3px 4px 7px #ddd);*/
}

.mobile {
    position: relative;
    border: 1px solid;
}
.mobile::before {
  content: '';
    width: 430px;
    height: 600px;
    background: url(../img/mobile-layout.svg);
    display: block;
    position: absolute;
    right: -90px;
    top: -76px;
    background-size: 100% 100%;
}
.mobile-section {
    margin-top: 100px;
}
.bg-blues {
    background: #648CFF;
}
.big-circle {
    position: relative;
    margin-top: 110px;
}
.big-circle::after {
   content: '';
    width: 500px;
    height: 500px;
    display: block;
    background: url(../img/circle.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: -50%;
    top: 0;
    z-index: -1;
}
.half-blule {
    position: relative;
    color: #fff;
}

.half-blue::before {
   content: '';

    width: 73%;
    height: 100vh;
    position: absolute;
    left: 0;
    z-index: -2;
}
.text-white {
    color: #fff;
}
.inner-v-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    color: #fff;
    -webkit-transform: translateY(30vh);
     transform: translateY(30vh); 
}
._ty20 {
 -webkit-transform: translateY(20vh);
     transform: translateY(20vh); 
}
.form-control._gs {
    box-shadow: none;
    height: 40px;
    width: 80%;
    margin: 20px auto;
}
.btn.btn-blue {

    color: #fff;
}

.footer-color: {
    background: #F2F2F2;
}
.footer-back-img {
    width: 100%;
}
.footer {
    position: relative;
}

.footer-front-img {
   background: url(../img/footer-img.png) no-repeat;
    height: 268px;
      width: 100%;
    position: absolute;
    top: 0px;
    background-size: cover;
    background-color: #f2f2f2;
}
.mb15 {
    margin-bottom: 15px;
}


.width100 {
    width: 100%;
}

@-webkit-keyframes move-footer {
    from {
        background-position: 0% 0%;
    }

    to { 
        background-position: 1500% 0%;
    }
}


.bg-gray {
    background: #F2F2F2;
}
.after-net {
    position: relative;
}
.after-net::after {
     content: '';
    width: 500px;
    height: 600px;
    display: block;
    background: url(../img/s.png);
    background-repeat: no-repeat;
    background-size: 100% 97%;
    position: absolute;
    z-index: -1;
    top: -69px;
    border-radius: 30px 0 0 100px;

}
.subscribe {
        width: 321px;
    margin: 30px auto;
    border-radius:  23px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.mt70 {
     margin-top: 70px;
}
.fw400 {
    font-weight: 400;
}
.mt30 {
     margin-top:30px;
}
.subscribe .form-control {
  box-shadow: none;
    border: none;
    height: 40px;
    border-radius: 23px;
    padding-left: 25px;

}
.subscribe .input-group-addon {
    border: none;
    background: #fff;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    padding-right: 25px;
}
.social-list img {
    height: 30px;
    width: 30px;

}
.mt50 {
    margin-top: 50px;
}
.logo-image {
    width: 35px;
    display: inline !important;
}
.femail {
    background: white;
    border: none;
    box-shadow: none;
    border-radius: 40px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    height: 45px;
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
}
#scene img {
    position: absolute;
    width: 500px;
    left: 40px;
    top:80px;
}
#scene2 img {
    position: absolute;
}
.navbar-toggle {
    background: #fff;
    border:none;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
.navbar-toggle .icon-bar {
    background-color:#648cff;
}

@media (max-width: 767px) {
  .after-net::after {
    width: 100%;
    height: 100%;
    background:none;
  }
  .hidden-xs {
    display: none !important;
  }
.mobile::before {
    height: 0;
    width: 0;
    background:none;
}
    ._ty20 {
     -webkit-transform: translateY(0px);
         transform: translateY(0px); 
         text-align: center;
    }
    .mobile  {
        border:none;
        /*box-shadow: 3px 4px 7px #ddd;*/
        box-shadow:3px 4px 7px rgba(62, 62, 62, 0.3);

    }
    .mobile-section {
        margin-top: 0;
    }
    .inner-v-center {
       
        -webkit-transform: translateY(0px);
         transform: translateY(0px); 
         text-align: center;
    }
    .half-blue::before {
         width: 100%;
         height:  125vh;
    }
    .main-front-banner {
         overflow: inherit;
         height: 485px;
    }
    .display-1 {
         font-size:3rem;
    }

.loopimg {
    height: 43%;
    top: 28px;
    background-size: 100%;
}
    .main-front-banner::before {
         top: 225px;
             background-size: 100%;
             height: 100%;
    }
    .mobile-mt0 {
        margin-top: 20px !important;
    }
    .spacethis {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .form-control._gs {
        width: 100%;
        margin: 10px auto;
    }
.por-box {
    height: 250px;
}
.cimg {
    margin-top: -25px;
}
.mob30  {
    margin-top: 70px;
}
.navbar-transprent {
   padding-top: 7px;
    margin-bottom: 15px;
}
.second-h {
    font-size: 20px;
}
}


/*pricing page style*/


.space70 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.pricing-box {
    width: 100%;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 16px 58px rgba(63, 49, 178, 0.08), 0 4px 14px rgba(63, 49, 178, 0.04);
}
.pricing-box .pricing-header .priceh {
    color: #265293;
    font-size: 45px;
    font-weight: 300;
}
.pricing-box .sub-heading {
    color: #265492;
}
.month {
    color: #6b6b6b;
    margin-top: -5px;
    display: block;
    font-weight:   400;
}
.pricing-box .pricing-content {
    padding: 20px;
}
.pricing-box .price-listing li {
   color: #484848;
    padding: 7px 0;
    font-weight: 400;
    font-size: 16px;
}
.pricing-box .pricefooter {
    padding-bottom: 20px;
    padding-top: 20px;
}
.pricing-box .pricefooter .btn {
    color: #fff;
    padding: 10px 35px;
    border-radius: 20px;
    box-shadow: none;
}
.prihe {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    color:  #fff;
}
.price-listing {
     margin-top: 10px;
    padding-left: 0px;
    list-style: none;
}
.pricing-box .price-listing li img {
    width: 17px;
    margin-right: 10px;
}
.pricing-box .pricing-header .priceh img {
    width: 35px;
    margin-top: -10px;
    
}
.text-white {
    color: #fff;
}
._fsq {
   
    margin-bottom: 60px;
    font-weight: 300;
}
.paragraph {
    color: #333;
    font-size: 16px;
}
.pricebox-container {
    margin-top: -300px;
}
.mocup_content {
    margin-top: -70px;
    float: right;
}
@media (max-width: 767px) {
    .pricebox-container {
    margin-top: -227px;
}
.pricing-box {
    margin-top: 15px;
}
.mocup_content {
    margin-top: 0px;
}
}
.left-net.after-net::after {
        left: -258px;
}
.imgshadow {
     -webkit-filter: drop-shadow(3px 4px 7px #ddd); 
    filter: drop-shadow(3px 4px 7px #ddd);
}
.conver-img {
    margin-left: 100px;
}
.dash-chat {
        position: absolute;
    top: 0;
    width: 252px;
    left: 250px;
    height: 286px;
    overflow: hidden;
}
#particles-js {
    width: 100%;
    position: absolute;
}

.main-front-banner {
height: 100vh;
/*-webkit-clip-path: circle(50% at 50% 50%);*/
}


.btn.get-started  {
    text-transform: uppercase;
    font-weight: bold !important;
    border-radius: 20px;

}
.text-upper {
    text-transform: uppercase;
}
.fw900 {
     font-weight:  900;
}
.navbar-btn.link {
    background: none;
    box-shadow: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 7px 29px;
    font-weight: 700;
}

.chat-window-box {
  
    transform-origin: bottom right;
}
.chat-window-box {
   position: absolute;
    width: 290px;
    top: 101px;
  height: 280px;
    right: 39px;
    background: #fff;
     box-shadow:3px 4px 7px rgba(62, 62, 62, 0.3);
     border-radius: 10px;
}
.chat-body .media-object {
        width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}
.chat-body {
    padding: 15px;
}
.chat-body .media-list {
    margin-top: 60px;
}
.chat-body .media-heading {
    color: #333;
    font-size: 17px;
    font-weight: 400;
}
.chat-body .media {
    border-bottom: 1px solid #efefef;
}
.chat-body p {
    font-size: 13px;
}
.chat-window-box .chatHeader {
    border-radius: 10px 10px 0 0;
}
.chat-body .badge{
background-color: #ea0505;
}


#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 90px;
    height: 90px;
    opacity: 1;
    transition: all .2s;
}


.slidebox {
    transition: opacity .45s cubic-bezier(0.25, 1, 0.33, 1), transform .45s cubic-bezier(0.25, 1, 0.33, 1), border-color .45s cubic-bezier(0.25, 1, 0.33, 1), color .45s cubic-bezier(0.25, 1, 0.33, 1), background-color .45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow .45s cubic-bezier(0.25, 1, 0.33, 1);
        width: 280px;
        /*height: 100%;*/
        padding: 15px;
}
.sp-slide:hover .slidebox {
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16)!important;
      -ms-transform: translateY(-3px);
      transform: translateY(-3px);
      -webkit-transform: translateY(-3px);
}
.slidebox p {
    display: none;
    transition:all 0.9s ease;
     opacity:0.5;
}

.sp-slide:hover p {
    display: block;
      opacity:1;
}
.sp-next-arrow:after, .sp-next-arrow:before, .sp-previous-arrow:after, .sp-previous-arrow:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #6616cd;
}